.bnotes-form {
 padding-left: 30px;
 padding-bottom: 5px;
 padding-top: 3px;
 width: 50%;
}

.dgrid.dgrid-03 .dgrid-content .dgrid-row-table {
    border-bottom: 0px !important;
    border-top: 1px solid #c7c7c7;
}